{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "array-callback-return": ["error", {
            "allowImplicit": true
        }],
        "comma-dangle": ["error", "always-multiline"],
        "dot-location": ["error", "property"],
        "eqeqeq": "warn",
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": "off",
        "no-var": "error",
        "no-alert": "error",
        "no-console": "warn",
        "no-implied-eval": "error",
        "no-multi-spaces": "warn",
        "no-setter-return": "error",
        "no-eval": "error",
        "no-use-before-define": "error",
        "prefer-const": "warn",
        "prefer-rest-params": "error",
        "rest-spread-spacing": ["error", "never"],
        "react/no-unescaped-entities": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [{
        "files": ["**/*.ts", "**/*.tsx"],
        "env": {
            "browser": true,
            "es6": true,
            "node": true
        },
        "extends": [
            "eslint:recommended",
            "plugin:react/recommended",
            "plugin:@typescript-eslint/eslint-recommended",
            "plugin:@typescript-eslint/recommended"
        ],
        "globals": {
            "Atomics": "readonly",
            "SharedArrayBuffer": "readonly"
        },
        "parser": "@typescript-eslint/parser",
        "parserOptions": {
            "ecmaFeatures": {
                "jsx": true
            },
            "ecmaVersion": 2020,
            "sourceType": "module",
            "project": "./tsconfig.json"
        },
        "plugins": ["react", "@typescript-eslint"],
        "rules": {
            "linebreak-style": ["error", "unix"],
            "quotes": ["error", "single"],
            "comma-dangle": ["error", "always-multiline"],
            "@typescript-eslint/no-explicit-any": 0,
            "@typescript-eslint/explicit-function-return-type": "warn",
            "@typescript-eslint/member-delimiter-style": 0,
            "no-undef": "error",
            "react/prop-types": 0,
            "@typescript-eslint/camelcase": 0,
        },
        "settings": {
            "react": {
                "version": "detect"
            }
        }
    }]
}